# .github/workflows/cd.yml
name: 'Deploy'     # Name of the action.
on: 
  push:
    branches:
      - main
      
jobs:
  deployment:
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Checkout'  # Checkout the repository code.
      uses: 'actions/checkout@v1'
    - name: Install Helm
      uses: azure/setup-helm@v1
      with:
        version: v3.8.1

    - name: deploy helm
      run: |
         chmod +x ./deploy.sh
         ./deploy.sh
      shell: bash
